(
    sensitivity: 1.0,
    smoothing: 15,
    event_dispatcher: (
        Toggle_Key: Grave,
        Excluded_Keys: [],
    ),
    event_handler: (
        sensitivity: 1.0,
        parachute_sensitivity: inf,
        binds: {
            Keyboard(C): Button(B),
            Mouse(Button5): Button(DpadUp),
            Keyboard(Num4): Button(DpadRight),
            Mouse(Left): Button(RightTrigger),
            Keyboard(Num2): Button(DpadLeft),
            Keyboard(Q): Button(LeftShoulder),
            Keyboard(R): Button(X),
            Keyboard(Space): Button(A),
            Mouse(Right): Button(LeftTrigger),
            Keyboard(G): Button(Y),
            Keyboard(Num3): Button(DpadDown),
            Keyboard(E): Button(RightShoulder),
        },
        mouse_smoothing_level: 15,
        aim_assist_enabled: false,
        aim_assist_intensity: 0.02,
        analog_shake_enabled: true,
    ),
)
