(
    sensitivity: 1.0,
    smoothing: 15,
    event_dispatcher: (
        Toggle_Key: Grave,
        Excluded_Keys: [
            J,
            L,
            LeftAlt,
            LeftShift,
            Tab,
        ],
    ),
    event_handler: (
        sensitivity: 1.0,
        parachute_sensitivity: inf,
        binds: {
            Keyboard(Num2): Button(DpadRight),
            Keyboard(F): Button(X),
            Keyboard(Num1): Button(DpadLeft),
            Keyboard(LeftControl): Button(B),
            Keyboard(B): Button(DpadLeft),
            Keyboard(E): Button(RightShoulder),
            Mouse(Button5): Button(DpadUp),
            Keyboard(R): Button(X),
            Keyboard(G): Button(Y),
            Keyboard(Space): Button(A),
            Mouse(Middle): Button(Y),
            Keyboard(M): Button(Back),
            Keyboard(Num3): Button(DpadDown),
            Keyboard(Q): Button(LeftShoulder),
            Keyboard(I): Button(DpadLeft),
            Keyboard(F1): Button(LeftThumb),
            Keyboard(LeftAlt): Button(DpadUp),
            Keyboard(F2): Button(RightThumb),
            Keyboard(Esc): Button(Start),
            Keyboard(K): Button(Guide),
            Mouse(Left): Button(RightTrigger),
            Keyboard(V): Button(RightThumb),
            Mouse(Right): Button(LeftTrigger),
            Mouse(Button4): Button(RightThumb),
        },
        mouse_smoothing_level: 15,
        aim_assist_enabled: false,
        aim_assist_intensity: 0.02,
        analog_shake_enabled: true,
    ),
)